<h1>Add or Change Blogpost</h1>

<form action="/blogpost/{{blogpost.id}}" method="POST" class="edit-post">
	<input type="hidden" name="id" value="{{blogpost.id}}">

	<label>Title</label>
	<input name="title" value="{{blogpost.title}}">

	<label>Content</label>
	<input name="content" value="{{blogpost.content}}">

	<label>Author</label>
	<input name="author" value="{{blogpost.author}}">

	<label>Category</label>
	<input name="category" value="{{blogpost.category}}">

	<label>Tags</label>
	<input name="tags" value="{{blogpost.tags}}">

	<label>Meta</label>
	<input name="meta" value="{{blogpost.meta}}">

	<input type="submit">
</form>