<h2>Add or Edit Blogpost</h2>

<form action="/blogpost/{{blogpost.id}}" method="POST" class="edit-post">
	<input type="hidden" name="id" value="{{blogpost.id}}">

	<p class="form-title"><label>Title</label>
	<input name="title" value="{{blogpost.title}}">
	</p>

	<p class="form-content"><label id="content-label">Content</label>
	<textarea name="content">{{blogpost.content}}
	</textarea>
	</p> <!--supposedly a super-easy error to solve -->


	<p class="form-author"><label>Author</label>
	<input name="author" value="{{blogpost.author}}">
	</p>

	<p class="form-category"><label>Category</label>
	<input name="category" value="{{blogpost.category}}">
	</p>

	<p class="form-tags"><label>Tags</label>
	<input name="tags" value="{{blogpost.tags}}">
	</p>

	<p class="form-meta"><label>Meta</label>
	<input name="meta" value="{{blogpost.meta}}"> 
	</p>

	<input type="submit">
</form>