@charset "utf-8";

* {
	box-sizing: border-box;
}

body {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png");
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color:inherit;
}

#nav {
	width:100%;
	display: center;
	padding-top:1.25rem; /*20px /16px */
	padding-bottom:1.25rem; /*20px /16px */
	height:1.4em;
	font-family: Helvetica,Arial,sans-serif;
	clear:both;
    margin-bottom:3.5em;
}

#nav li {
	list-style-type: none;
	float:left;
	line-height:1.4em;
	width:45%;  
	text-align:center;
}

#nav ul{
	padding-left:20px;
	padding-left:1.25rem; 
	padding:0;
}

#nav a {
	letter-spacing:5px;
}

#container {
	max-width: 900px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

/*#header{
	text-align: center;
}*/

.blog-title{
	font-family: "news-gothic-std", sans-serif;
	color: #CE3728;
	text-align: center;
	width: auto;
  	font-size: 2.3em;
  	-webkit-text-stroke: 1px black; /* style courtesy of CSS Tricks */
  	/*box-shadow: 10px 10px 5px #888888;*/
}

.tagline{
	/*text-align: center;*/
	width: auto;
}

#content {
	width:90%;
	font-size:1.2em;
}

.most-recent{
	font-style: italic;
}

.blog-list {
	border: 2px dotted #FFF;
}

.post {
	/* background-color: lightgrey; not necessary */
	padding: 10px 11px 15px 19px;
	opacity: 0.88;
}

.byline{
	text-transform: uppercase;
  	letter-spacing: .08333em;
}

.post-info{
	border-bottom: 2px dotted #bbbbb9;
	margin-bottom: 10px;
}

.add-new {
	padding: 30px;
}

.single-view {
	margin-bottom: 30px;
}

.single-view.content {

}

textarea {
	width: 66%;
	height: 116px;
}

#content-label{
	float: left;
	margin-right: 8px;
}

.footer {
	margin-top: 30px;
}